RewriteEngine On

# Statik dosyalar için rewrite yapma
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Tüm istekleri index.php'ye yönlendir
RewriteRule ^(.*)$ index.php [QSA,L]

# Klasör listelemeyi kapat
Options -Indexes

